// Base Style

html, body {
  width: 100%;
  min-height: 100vh;
}

html {
  background: $secondaryColor;
}

body {
  color: $primaryColor;
  background: image-url('bg-grid.png');

  font-family: 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
}
