// Base Style

html, body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

html {
  background: $secondaryColor;
}

body {
  font-family: 'PT Sans Narrow', 'Open Sans Han TWHK', sans-serif;
  color: $primaryColor;
  background: image-url('bg-grid.png');

  font-family: 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;

  overflow: hidden;
}
