// Timer

.timer {

}

.timer-control {
  .control-button {
    border: 1px solid $primaryColor;

    color: $primaryColor;
    background: transparent;

    font-size: 18px;

    &:focus { outline: none; }
  }
}
